{% extends 'base.html' %}

{% block head %}
<style type="text/css">
  .form {
    display: none;
  }
</style>

<script type="text/javascript">
  var options = {
    enableHighAccuracy: true,
    timeout: 5000,
    maximumAge: 0
  };

  function success(pos) {
    var crd = pos.coords;
    // console.log('Your current position is:');
    // console.log('Latitude : ' + crd.latitude);
    // console.log('Longitude: ' + crd.longitude);
    // console.log('More or less ' + crd.accuracy + ' meters.');
    $('#id_lat').val(crd.latitude)
    $('#id_lng').val(crd.longitude)
    $('.form').css('display', 'block');
    $('#load').css('display', 'none');
  };

  function error(err) {
    // console.warn('ERROR(' + err.code + '): ' + err.message);
    $('#load').css('display', 'none');
    $('#error').css('display', 'block');
    $('.form').css('display', 'none');
  };

  navigator.geolocation.getCurrentPosition(success, error, options);
</script>
{% endblock %}

{% block body %}
<br>

<div class="card card-inverse card-primary" id="load">
  <div class="card-block">
    <p class="card-blockquote">
    Chargement des données de localisation GPS
    </p>
  </div>
</div>

<div class="card card-inverse card-danger" id="error">
  <div class="card-block">
    <p class="card-blockquote">
      Erreur de Chargement des données de localisation ... <a href="{% url 'home' %}" class="card-link">rechargez la page</a>.
    </p>
  </div>
</div>

<form action="{% url 'home' %}" method="POST">

{% csrf_token %}

<div style="display: none">
{{ form.lat }}
  {{ form.lng }}
</div>

<div class="form">

<h5>A quels risques pensez-vous être exposé à votre actuellement ?</h5>
<hr>

  <div class="form-group">
  <label class="custom-control custom-checkbox">
    {{ form.innodation }}
    <span class="custom-control-description">Risques d'innondation ?</span>
  </label>
  </div>

<div class="form-group">
  <label class="custom-control custom-checkbox">
    {{ form.argile }}
    <span class="custom-control-description">Risques de retrait ou gonflements des sols ?</span>
  </label>
  </div>

<div class="form-group">
  <label class="custom-control custom-checkbox">
    {{ form.mouvement_terrain }}
    <span class="custom-control-description">Risques de mouvements de terrain ?</span>
  </label>
  </div>

<div class="form-group">
  <label class="custom-control custom-checkbox">
    {{ form.cavite }}
    <span class="custom-control-description">Risques d'affaisements ou d'effondrements ?</span>
  </label>
  </div>

<div class="form-group">
  <label class="custom-control custom-checkbox">
    {{ form.seisme }}
    <span class="custom-control-description">Risques de séismes ?</span>
  </label>
  </div>

<div class="form-group">
  <label class="custom-control custom-checkbox">
    {{ form.sites_pollues }}
    <span class="custom-control-description">Sites pollués situés à proximité ?</span>
  </label>
  </div>

<div class="form-group">
  <label class="custom-control custom-checkbox">
    {{ form.installations_classees }}
    <span class="custom-control-description">Risques industriels à proximité ?</span>
  </label>
  </div>

<div class="form-group">
  <label class="custom-control custom-checkbox">
    {{ form.canalisation }}
    <span class="custom-control-description">Canalisations de matières dangereuses à proximité ?</span>
  </label>
  </div>

<div class="form-group">
  <label class="custom-control custom-checkbox">
    {{ form.nucleair }}
    <span class="custom-control-description">Risque nucléaire (installation nucléaire ou centrale nucléaire dans un rayon de 20km) ?</span>
  </label>
  </div>

<button class="btn btn-primary btn-block" type='submit'>Valider vos réponses</button>

</div>

</form>

{% endblock %}

{% block endbody %}
<script type="text/javascript">
  $( document ).ready(function() {
    $('#error').css('display', 'none');
  })
</script>
{% endblock %}